- content_for :logo do
  %img{ :src => "/images/array-logo.gif", :alt => "Array Biostatistics" }

= current_or_link('', yield(:logo))

- content_for :contact do
  = current_or_link('contact', '<strong>CONTACT</strong>')

- content_for :services do
  = current_or_link('services', '<strong>SERVICES</strong>')

- content_for :who do
  = current_or_link('who_we_are', '<strong>WHO WE ARE</strong>')
  = ":"
  = current_or_link('customer_service_model', 'customer service model')
  = ":"
  = current_or_link('project_leadership_strategy', 'project leadership strategy')

- content_for :home do
  = current_or_link('', '<strong>HOME</strong>')


%ul.unstyled.navigation
  - [ :contact, :services, :who, :home ].each do |bracket_content|
    %li
      %span.bracket [
      = yield(bracket_content)
      %span.bracket ]
